---
import "../styles/global.css";

export interface Props {
  title?: string;
  currentPage?: string;
}

const { title = "Application de visualisation de données", currentPage = "" } =
  Astro.props;
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body class="flex flex-col min-h-screen text-black bg-gray-100">
    <header class="bg-black py-4 text-white">
      <nav class="flex justify-center space-x-8">
        <a
          href="/"
          class={`${
            currentPage === "accueil" ? "text-red-500" : "text-white"
          } hover:text-red-400 font-semibold transition`}
        >
          Accueil
        </a>
        <a
          href="/carte"
          class={`${
            currentPage === "etablissements" ? "text-red-500" : "text-white"
          } hover:text-red-400 font-semibold transition`}
        >
          Établissements
        </a>
        <a
          href="/population"
          class={`${
            currentPage === "population" ? "text-red-500" : "text-white"
          } hover:text-red-400 font-semibold transition`}
        >
          Population
        </a>
      </nav>
    </header>

    <main class="flex-grow p-6">
      <slot />
    </main>

    <footer class="bg-black text-center py-4">
      <p class="text-sm">&copy; 2025 DataViz — Tous droits réservés.</p>
    </footer>
  </body>
</html>
